command alias b breakpoint set
command alias bfl breakpoint set -f %1 -l %2
command alias bn breakpoint set -n %1

command alias gr gdb-remote localhoast:%1
command alias grd gdb-remote localhost:1234

command alias n thread step-over
command alias sf frame select

settings set target.x86-disassembly-flavor intel
