[color]
    ui = auto
[user]
	email = jordanbourdeau03@gmail.com
	name = Jordan Bourdeau
[core]
	editor = nvim
[init]
    defaultBranch = main
[pager]
    diff = less -+F -+X
    log = less -+F -+X
    show = less -+F -+X
[alias]
    s = status -sb
    c = commit
    ca = commit --amend
    # push/pop have the same first letter so use r/w for read/write instead
    sw = stash push
    sr = stash pop
    r = rebase
    rs = reset
    rsh = reset --HARD
    co = checkout
    d = diff
    dc = diff --cached
    dn = diff --name-status
    du = diff @{u}
    b = branch
    aa = add -A
    
