[color]
    ui = auto
[user]
	email = jordanbourdeau03@gmail.com
	name = Jordan Bourdeau
[core]
	editor = nvim
[init]
    defaultBranch = main
[pager]
    diff = less -+F -+X
    log = less -+F -+X
    show = less -+F -+X
[alias]
    aa = add -A
    c = commit
    ca = commit --amend
    cl = clone
    co = checkout
    b = branch
    d = diff
    dc = diff --cached
    dn = diff --name-status
    du = diff @{u}
    f = fetch
    l = log
    pu = push
    pl = pull
    s = status -sb
    st = stash 
    # write/read rather than push/pop to help keep the pneumonics in check
    stw = stash push
    str = stash pop
    sw = switch
    swc = switch -c
    r = rebase
    ra = rebase --abort
    rc = rebase --continue
    re = restore
    rs = reset
    rsh = reset --HARD
    
